div(id="message")
  .form.pure-form.pure-form-stacked
    textarea(placeholder="send a message.")
    label(for="sticky") Stick for
    input(name="sticky", value="0")
    br
    a.pure-button(class="send") Send a message.
