.imgur{
  width: 25%vh;
  height: 50%vh;
  padding: 0;
  overflow: hidden;
}
.imgur img.wide {
  width: 100%;
}
.imgur img.tall{
  height: 100%;
}
.imgur h1{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #EEE;
  margin: 0;
  padding: 10px;
  font-size: 60%;
  color: #000;
  opacity: .7;
}
