extends layout

block content
  .pure-u-1-3
  .pure-u-2-3
    .l-box
      h1 Welcome to the funbrella
      p Funbrella is a fun info radiator with metrics about your favorite things all extendable through a simple js API.
      p
        | Get started with&nbsp;
        a.pure-button.pure-button-primary(href="/auth/github") Github
        | &nbsp;
        a.pure-button.pure-button-primary(href="/auth/google") Google
