.ltrain h1:after{
  content: '∞';
  display: block;
  margin: 4% auto;
  font-family: 'Funbrella';
  font-size: 300%;
}
.ltrain h1{
  display: block;
  margin: 0 auto 2%;
  text-align: center;
  font-size: 130%;
}
.ltrain table{
  width: 100%;
  table-layout:fixed;
  font-size: 50%;
}
.ltrain table tr td{
  white-space: nowrap;
  font-size: 115%;
}
.ltrain table tr td:nth-child(1n+2){
  text-align: right;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@-webkit-keyframes fadein{
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
.ltrain .arriving{
  font-weight: 300;
}
.ltrain table tr td:nth-child(even):after{
  content: "";
  background-color: #784421;
  display: inline-block;
  -webkit-border-radius: .75vh;
  height: 1.5vh;
  width: 1.5vh;
  margin: 0 0 0 .25rem;
}
.ltrain table tr.Red td:nth-child(even):after{
  color: #802c2c;
}
.ltrain table tr.P td:nth-child(even):after{
  background-color: #892C80;
}

