@import url(http://fonts.googleapis.com/css?family=Roboto:300,100,100italic,300italic,900,900italic);
border-color = #666;
border-width = 2px;
border-active = #38c0f4;

background-one = #BBB;
background-two = #EEE;
background-three = #DDD;
background-four = #CCC;
@font-face {
  font-family: 'Climacons-Font';
  src:url('fonts/climacons-webfont.eot');
  src:url('fonts/climacons-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/climacons-webfont.svg#Climacons-Font') format('svg'),
  url('fonts/climacons-webfont.woff') format('woff'),
  url('fonts/climacons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Funbrella';
  src:url('fonts/funbrella.otf');
}

body{
  padding: 0;
  margin: 0;
  font: 100% "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 3vh;
  scroll: none !important;
  background: #999;
}
a{
  color: #666
}

h1,h2,h3,h4,h5{
  font-weight: 300;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}
fieldset{
  border: 0 none;
}
label{
  min-width: 25%;
  display: inline-block;
  font-size: 110%;
  clear: both;
}
input{
  display: block;
  clear: both;
  border: 1px solid #CCC;
  line-height: 2em;
  height: 2em;
  margin: 0 0 1em;
  padding: 0 1em;
}
menu{
  margin: 0;
  padding: 0;
}
.widget{
  position: relative;
  width: 25%;
  min-height: 50%vh;
  max-height: 50%vh;
  padding: 1%;
  display: block;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: top;
  background: #EEE;
  color: #555;
  overflow: hidden;
  border: border-width solid border-color;
  &:first-child{
    width: 50%;
    min-height: 100%vh;
    max-height: 100%vh;
    background: #EEE;
    color: #777;
  }
  &:nth-child(5n+2){
    background: background-one;
    color: #444;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
  }
  &:nth-child(5n+3){
    background: background-two;
    color: #666;
    border-bottom: 0 none;
  }
  &:nth-child(5n+4){
    background: background-three;
    color: #555;
    border-left: 0 none;
    border-right: 0 none;
  }
  &:nth-child(5n+5){
    background: background-four;
    color: #777;
  }
  .prefs-button{
    font-family: 'Funbrella';
    display: none;
    position: absolute;
    top: 10%;
    right: 10px;
    opacity: .5;
    font-size: 150%;
  }
  &:hover .prefs-button{
    display: inline-block;
  }
  .prefs{
    display: none;
    position: absolute;
    top: 10px;
    margin: 0 auto;
    padding: 10px;
    background: #EEE;
    border: border-width solid #AAA;
    width: 80%;
    height: 40vh;
    overflow: auto;
    input{
      clear: both;
    }
  }
}
.widget-prefs{
  display: none;
  margin: 2%;
  padding: 2%;
  position: absolute;
  top: 2%;
  background: #EEE;
  border: 4px solid #CCC;
  margin: 0 auto;
  min-width: 92%;
  -webkit-box-sizing: border-box;
}
.message-list{
  strong{
    vertical-align: top;
  }
  img{
    border: .5em solid #eee;
    border-bottom-width: 1em;
  }
  li{
    background: #fff;
    border-bottom: 8px solid #EEE;
    padding: .5em;
  }
}
#available-widgets{
  width: 10vw;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 0;
  height: 2%vh;
  opacity: 0;
  z-index: 2;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border: border-width solid border-color;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: top;
  padding: 1%;
  li{
    position: relative;
    display: inline-block;
    width: 18vh;
    height: 18vh;
    text-align: center;
    border: border-width solid border-color;
    font-size: 70%;
    &:hover{
      border-color: border-active;
      color: border-active;
    }
  }
}
.widget-item{
  width: 18vh;
  height: 18vh;
  text-align: center;
  border: border-width solid border-active;
  background: #fff;
  opacityt: .7;
}
#available-widgets:hover{
  width: 100vw;
  opacity: 1;
  height: auto;
}
#message{
  opacity: 0;
  overflow: hidden;
  width: 25%vw;
  height: 2%vh;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -12%;
  border: border-width solid border-color;
  textarea{
    display: block;
    margin: 10px auto;
    width: 24%vw;
    height: 15%vh;
  }
  label{
    font-size: 75%;
    width: auto;
    margin-left: 10px;
  }
  input{
    margin: 0 5px;
    display: inline-block;
    width: 20px;
  }
  .btn{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #999;
    border: 1px #333 solid;
    color: #333;
    padding: 0 5px;
  }
  -webkit-transition: opacity 2s;
}
#message:hover{
  opacity: 1;
  height: 30%vh;
  -webkit-transition: opacity 2s;
}
#audio{
  width: 30px;
  height: 30px;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.widget-view .widget{
  width: 100%vw;
  min-height: 100%vh;
}
