@import url("http://fonts.googleapis.com/css?family=Roboto:300,100,100italic,300italic,900,900italic");
@font-face {
  font-family: 'Climacons-Font';
  src: url("fonts/climacons-webfont.eot");
  src: url("fonts/climacons-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/climacons-webfont.svg#Climacons-Font") format('svg'), url("fonts/climacons-webfont.woff") format('woff'), url("fonts/climacons-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font: 100% "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  scroll: none;
  background: #999;
}
a {
  color: #666;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
label {
  min-width: 35%;
  display: inline-block;
}
input {
  border: 1px solid #ccc;
  line-height: 2em;
  height: 2em;
  padding: 0 1em;
}
menu {
  margin: 0;
  padding: 0;
}
.widget {
  position: relative;
  width: 25%;
  min-height: 50vh;
  max-height: 50vh;
  padding: 1%;
  display: block;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top;
  background: #999;
  color: #555;
  overflow: hidden;
}
.widget:first-child {
  width: 50%;
  min-height: 100vh;
  max-height: 100vh;
}
.widget:nth-child(5n+1) {
  background: #bbb;
  color: #777;
}
.widget:nth-child(5n+2) {
  background: #777;
  color: #444;
}
.widget:nth-child(5n+3) {
  background: #aaa;
  color: #666;
}
.widget:nth-child(5n+4) {
  background: #888;
  color: #555;
}
.widget:nth-child(5n+5) {
  background: #bbb;
  color: #777;
}
.widget-prefs {
  display: none;
  margin: 2%;
  padding: 2%;
  position: absolute;
  top: 2%;
  background: #eee;
  border: 4px solid #ccc;
  margin: 0 auto;
  min-width: 92%;
  -webkit-box-sizing: border-box;
}
.message-list strong {
  vertical-align: top;
}
.message-list img {
  border: 0.5em solid #eee;
  border-bottom-width: 1em;
}
