@import url("http://fonts.googleapis.com/css?family=Roboto:300,100,100italic,300italic,900,900italic");
@font-face {
  font-family: 'Climacons-Font';
  src: url("fonts/climacons-webfont.eot");
  src: url("fonts/climacons-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/climacons-webfont.svg#Climacons-Font") format('svg'), url("fonts/climacons-webfont.woff") format('woff'), url("fonts/climacons-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font: 100% "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 3vh;
  scroll: none;
  background: #999;
}
a {
  color: #666;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
label {
  min-width: 35%;
  display: inline-block;
  font-size: 50%;
}
input {
  border: 1px solid #ccc;
  line-height: 2em;
  height: 2em;
  padding: 0 1em;
}
menu {
  margin: 0;
  padding: 0;
}
.widget {
  position: relative;
  width: 25%;
  min-height: 50vh;
  max-height: 50vh;
  padding: 1%;
  display: block;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: top;
  background: #eee;
  color: #555;
  overflow: hidden;
  border: 2px solid #666;
}
.widget:first-child {
  width: 50%;
  min-height: 100vh;
  max-height: 100vh;
  background: #eee;
  color: #777;
}
.widget:nth-child(5n+2) {
  background: #bbb;
  color: #444;
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
}
.widget:nth-child(5n+3) {
  background: #eee;
  color: #666;
  border-bottom: 0 none;
}
.widget:nth-child(5n+4) {
  background: #ddd;
  color: #555;
  border-left: 0 none;
  border-right: 0 none;
}
.widget:nth-child(5n+5) {
  background: #ccc;
  color: #777;
}
.widget .prefs-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40%;
  opacity: 0.5;
}
.widget:hover .prefs-button {
  display: block;
}
.widget .prefs {
  display: none;
  position: absolute;
  top: 10px;
  margin: 0 auto;
  padding: 10px;
  background: #eee;
  border: 2px solid #aaa;
  width: 80%;
  height: 40vh;
  overflow: auto;
}
.widget .prefs input {
  clear: both;
}
.widget-prefs {
  display: none;
  margin: 2%;
  padding: 2%;
  position: absolute;
  top: 2%;
  background: #eee;
  border: 4px solid #ccc;
  margin: 0 auto;
  min-width: 92%;
  -webkit-box-sizing: border-box;
}
.message-list strong {
  vertical-align: top;
}
.message-list img {
  border: 0.5em solid #eee;
  border-bottom-width: 1em;
}
.message-list li {
  background: #fff;
  border-bottom: 8px solid #eee;
  padding: 0.5em;
}
