@border: #2C2C2C;
@highlight1: #5f8dd3;
@highlight2: #FEA;
@highlight3: #95F;
@highlight4: #de87aa;
@button-background: #FC0;
@main-text: #F95;

#messages{
  width: 100%;
  height: 100vh;
  background: #333;
  color: @main-text;
  border: 2px solid @border;
  border-left: 4px solid @border;
}
#widgets{
  width: 100%;
  height: 100vh;
  color: @highlight4;
  *{
    color: inherit;
  }
}
#widgets ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#widgets ul li.widget{
  position: relative;
  border: 2px solid @border;
  background: #333;
  padding: 0 20px;
  display: block;
  float: left;
  width: 50%;
  height: 50vh;
  box-sizing: border-box;
  overflow: hidden;
  &:nth-child(4n+2){
    color: @highlight1;
  }
  &:nth-child(4n+3){
    color: @highlight2;
  }
  &:nth-child(4n+4){
    color: @highlight3;
  }
  .pure-button{
    background: @button-background;
    color: #FFF;
    font-weight: 300;
    &.pure-button-add{
      display: block;
      margin: 20vh auto 0;
    }
  }
}
#message{
  display: none;
}
