.bus img{
  display: block;
  margin: 4% auto;
  opacity: .47;
  height: 12vh;
}
.bus h1{
  color: #000;
  opacity: .3;
  display: block;
  margin: 0 auto 2%;
  text-align: center;
}
.bus table{
  width: 100%;
}
.bus table tr td:nth-child(1n+2){
  text-align: right;
}
.bus .arriving{
  font-weight: 300;
}
